<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:projectbankaccount:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:projectbankaccount:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:projectbankaccount:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4 control-label">企业统一社会信用代码</div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="projectBankAccount.busCode" placeholder="企业统一社会信用代码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">项目编号</div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="projectBankAccount.proNo" placeholder="项目编号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">开户行数据字典id</div>
                <div class="col-sm-8">
                    <select class="form-control" v-model="projectBankAccount.bankDicId">
                        <template v-for="item in bankDicJson" :key="item.id">
                            <option :value="item.id">{{item.value}}</option>
                        </template>
                    </select>
<!--
                    <input type="text" class="form-control" v-model="projectBankAccount.bankDicId" placeholder="开户行数据字典id"/>
-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">工资专用账户账号</div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="projectBankAccount.accountNo" placeholder="工资专用账户账号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">专户开户户名</div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="projectBankAccount.accountName" placeholder="专户开户户名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">专户开户网点</div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="projectBankAccount.accountNet" placeholder="专户开户网点"/>
                </div>
            </div>
					<!--						                    <div class="form-group">
                        <div class="col-sm-4 control-label">上传人id</div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="projectBankAccount.createPersonId" placeholder="上传人id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-4 control-label">上传时间</div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="projectBankAccount.createTime" placeholder="上传时间"/>
                        </div>
                    </div>-->
            <div class="form-group">
                <div class="col-sm-5 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/account/projectbankaccount.js?_${.now?long}"></script>
</body>
</html>